pkgbase = jax-seldon
	pkgdesc = Flight recorder and planning desk for an Omarchy system (engine)
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/JohnAndrewsX/jax-seldon
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = git>=2.44
	depends = glibc
	optdepends = snapper: snapshot events (needs read access to /.snapshots)
	options = !debug
	source = jax-seldon-0.1.3.tar.gz::https://github.com/JohnAndrewsX/jax-seldon/releases/download/v0.1.3/jax-seldon-0.1.3.tar.gz
	sha256sums = 9bace47ceae13e469c25501dabddd4f08559530f5b8cbec23a6234999ae3fa81

pkgname = jax-seldon
