pkgbase = jax-seldon
	pkgdesc = Flight recorder and planning desk for an Omarchy system (engine)
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/JohnAndrewsX/jax-seldon
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = git
	depends = glibc
	optdepends = snapper: snapshot events (needs read access to /.snapshots)
	options = !debug
	source = jax-seldon-0.1.2.tar.gz::https://github.com/JohnAndrewsX/jax-seldon/releases/download/v0.1.2/jax-seldon-0.1.2.tar.gz
	sha256sums = d2b60d318e3ec5316ec6775d53288320d96196c5473b6128d0ac7db1fc0bef8e

pkgname = jax-seldon
